<style type="text/css">
    #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(107, 196, 255);
      }
      
    #navbar li {
        float: left;
      }
      
      #navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      #navbar li a:hover {
        background-color: #111;
      }
    </style> 
    <ul id="navbar">
    <li><a class="active" href="/">Home</a></li>
    <li><a class="active" href="/api/add_item">Add Product</a></li>
    <li><a class="active" href="/api/updating_item">Update Product</a></li>
    <li><a class="active" href="/api/get_information">Get Product Information</a></li>
  </ul>